.grid {
  display: grid;
  /* border: 2px solid green; */
  background-color: rgb(14, 14, 110);
  /* grid-template-rows: 300px 200px 100px;
  grid-template-columns: 300px 200px 100px; */

  /* grid-template-rows: 100px 200px 100px; */
  /* grid-template-columns: 100px 200px 100px; */
  grid-template-columns: auto auto auto;
  /* grid-column-gap: 2rem; */
}

.box {
  display: grid;
  height: 100px;
  width: 100px;
  border: 2px solid red;
  background-color: aqua;
}
