.container {
  background-color: blue;
}

.box {
  background-color: red;
  height: 300px;
  width: 300px;
  position: relative;
  animation-name: amit;
  /* animation-duration: 2s; */
  /* animation-duration: 0.5s; */
  /* animation-iteration-count: 4; */
  /* animation-iteration-count: infinite; */
  /* animation-fill-mode: forwards; */
  /* animation-fill-mode: backwards; */
  /* animation-timing-function: ease-in; */
  /* animation-timing-function: ease-out; */
  /* animation-timing-function: ease-in-out; */
  /* animation-direction: reverse; */

  /* Shorthand property for animation -->
    animation: animation-name animation-duration animation-timing-function animation-delay animation-iteration-count animation-fill-mode*/
  animation: amit 4s ease-in-out 2s infinite backwards;
}

@keyframes amit {
  from {
    width: 300px;
  }
  to {
    width: 600px;
  }
}
